Repository rawad663/presto, pull requests merged in 2018-03, with the labels that each got.

#44 Integration/presto#33
  package.json
  src/components/CustomerHomeComponent/index.js
  src/components/custom_components/Belt.js
  src/components/custom_components/RestaurantCard.js
  src/css/App.css
  src/resources/images/chinese-food.jpg
  src/resources/images/mexican-food.jpg
  src/resources/images/turkish-food.jpg
Labels: component, enhancement

#46 integration/presto#39
  package-lock.json
  src/components/CustomerHomeComponent/index.js
  src/components/LoginComponent/index.js
  src/components/custom_components/RestaurantCard.js
  src/containers/CustomerHomeContainer/index.js
  src/containers/LoginContainer/index.js
  src/containers/RestaurantProfileContainer/index.js
  src/containers/SignupContainer/index.js
Labels: api, component, container

#43 Integration/presto#28
  src/components/CustomerHomeComponent/index.js
  src/components/custom_components/Belt.js
  src/components/custom_components/RestaurantCard.js
  src/components/custom_components/SideNav.js
  src/containers/CustomerHomeContainer/index.js
  src/css/Animations.css
  src/css/App.css
Labels: api, component, container, css

#72 Integration/presto#63
  package-lock.json
  package.json
  src/api/api.js
  src/components/CustomerHomeComponent/index.js
  src/components/CustomerReservationsComponent/index.js
  src/components/LikedRestaurantsComponent/index.js
  src/components/custom_components/Belt.js
  src/components/custom_components/ReservationCard.js
  src/components/custom_components/ReservationForm.js
  src/components/custom_components/RestaurantCard.js
  src/components/custom_components/SideNav.js
  src/containers/CustomerHomeContainer/index.js
  src/containers/CustomerReservationsContainer/index.js
  src/containers/LoginContainer/index.js
  src/containers/ReservationsContainer/index.js
  src/containers/SignupContainer/index.js
  src/css/Animations.css
  src/css/App.css
  src/resources/images/incognito.png
Labels: api, component, container, css, html
